[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[core]
        editor = emacs
[user]
        name = Ryan Rud
        email = ryan.rud@gmail.com
[push]
        default = simple
